nav.subnav {
  a {
    background-color: inherit;
<<<<<<< HEAD
    color: blue;
    font-weight: 400;
  }
}
=======
    color: #00899E;
    font-weight: 400;
  }
}

a {
  color: #00899E;
}

ul li {
  margin-bottom: 1rem;
}
>>>>>>> 17e5838ed620f443beef10b72321ed8e1c6ccf51
